################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GroceryBackend/.vs/Grocery/FileContentIndex
/GroceryBackend/.vs/Grocery/DesignTimeBuild/.dtbcache.v2
/GroceryBackend/.vs/Grocery/v17/.suo
/GroceryBackend/GroceryScanner/obj/Debug/net8.0/ref/GroceryScanner.dll
/GroceryBackend/GroceryScanner/obj/Debug/net8.0/refint/GroceryScanner.dll
/GroceryBackend/GroceryScanner.Business/bin/Debug/net8.0/selenium-manager/linux/selenium-manager
/GroceryBackend/GroceryScanner.Business/bin/Debug/net8.0/selenium-manager/windows/selenium-manager.exe
/GroceryBackend/GroceryScanner.Business/bin/Debug/net8.0/selenium-manager/macos/selenium-manager
/GroceryBackend/GroceryScanner.Domain/bin/Debug/net8.0/GroceryScanner.Domain.deps.json
/GroceryBackend/GroceryScanner.Domain/bin/Debug/net8.0/GroceryScanner.Domain.dll
/GroceryBackend/GroceryScanner.Domain/bin/Debug/net8.0/GroceryScanner.Domain.pdb
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.AssemblyInfo.cs
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.AssemblyInfoInputs.cache
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.assets.cache
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.csproj.CoreCompileInputs.cache
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.csproj.FileListAbsolute.txt
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.dll
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.GeneratedMSBuildEditorConfig.editorconfig
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.pdb
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.sourcelink.json
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/refint/GroceryScanner.Domain.dll
/GroceryBackend/GroceryScanner.Domain/obj/project.nuget.cache
