################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GroceryBackend/.vs/Grocery/FileContentIndex
/GroceryBackend/.vs/Grocery/DesignTimeBuild/.dtbcache.v2
/GroceryBackend/.vs/Grocery/v17/.suo
/GroceryBackend/GroceryScanner/obj/Debug/net8.0/ref/GroceryScanner.dll
/GroceryBackend/GroceryScanner/obj/Debug/net8.0/refint/GroceryScanner.dll
/GroceryBackend/GroceryScanner.Business/bin/Debug/net8.0/selenium-manager/linux/selenium-manager
/GroceryBackend/GroceryScanner.Business/bin/Debug/net8.0/selenium-manager/windows/selenium-manager.exe
/GroceryBackend/GroceryScanner.Business/bin/Debug/net8.0/selenium-manager/macos/selenium-manager
/GroceryBackend/GroceryScanner.Domain/bin/Debug/net8.0/GroceryScanner.Domain.deps.json
/GroceryBackend/GroceryScanner.Domain/bin/Debug/net8.0/GroceryScanner.Domain.dll
/GroceryBackend/GroceryScanner.Domain/bin/Debug/net8.0/GroceryScanner.Domain.pdb
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.AssemblyInfo.cs
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.AssemblyInfoInputs.cache
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.assets.cache
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.csproj.CoreCompileInputs.cache
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.csproj.FileListAbsolute.txt
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.dll
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.GeneratedMSBuildEditorConfig.editorconfig
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.pdb
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/GroceryScanner.Domain.sourcelink.json
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/refint/GroceryScanner.Domain.dll
/GroceryBackend/GroceryScanner.Domain/obj/project.nuget.cache
/GroceryBackend/GroceryScanner/obj/Debug/net8.0/apphost.exe
/GroceryBackend/GroceryScanner/obj/Debug/net8.0/GroceryScanner.AssemblyInfo.cs
/GroceryBackend/GroceryScanner/obj/Debug/net8.0/GroceryScanner.AssemblyInfoInputs.cache
/GroceryBackend/GroceryScanner/obj/Debug/net8.0/GroceryScanner.assets.cache
/GroceryBackend/GroceryScanner/obj/Debug/net8.0/GroceryScanner.csproj.AssemblyReference.cache
/GroceryBackend/GroceryScanner/obj/Debug/net8.0/GroceryScanner.csproj.CoreCompileInputs.cache
/GroceryBackend/GroceryScanner/obj/Debug/net8.0/GroceryScanner.csproj.FileListAbsolute.txt
/GroceryBackend/GroceryScanner/obj/Debug/net8.0/GroceryScanner.dll
/GroceryBackend/GroceryScanner/obj/Debug/net8.0/GroceryScanner.genruntimeconfig.cache
/GroceryBackend/GroceryScanner/obj/Debug/net8.0/GroceryScanner.pdb
/GroceryBackend/GroceryScanner/obj/Debug/net8.0/GroceryScanner.sourcelink.json
/GroceryBackend/GroceryScanner/obj/project.nuget.cache
/GroceryBackend/GroceryScanner.Business/bin/Debug/net8.0/chromedriver.exe
/GroceryBackend/GroceryScanner.Business/bin/Debug/net8.0/GroceryScanner.Business.deps.json
/GroceryBackend/GroceryScanner.Business/bin/Debug/net8.0/GroceryScanner.Business.dll
/GroceryBackend/GroceryScanner.Business/bin/Debug/net8.0/GroceryScanner.Business.pdb
/GroceryBackend/GroceryScanner.Business/bin/Debug/net8.0/GroceryScanner.Domain.dll
/GroceryBackend/GroceryScanner.Business/bin/Debug/net8.0/GroceryScanner.Domain.pdb
/GroceryBackend/GroceryScanner.Business/obj/Debug/net8.0/ref/GroceryScanner.Business.dll
/GroceryBackend/GroceryScanner.Business/obj/Debug/net8.0/GroceryScanner.Business.AssemblyInfo.cs
/GroceryBackend/GroceryScanner.Business/obj/Debug/net8.0/GroceryScanner.Business.AssemblyInfoInputs.cache
/GroceryBackend/GroceryScanner.Business/obj/Debug/net8.0/GroceryScanner.Business.assets.cache
/GroceryBackend/GroceryScanner.Business/obj/Debug/net8.0/GroceryScanner.Business.csproj.AssemblyReference.cache
/GroceryBackend/GroceryScanner.Business/obj/Debug/net8.0/GroceryScanner.Business.csproj.CopyComplete
/GroceryBackend/GroceryScanner.Business/obj/Debug/net8.0/GroceryScanner.Business.csproj.CoreCompileInputs.cache
/GroceryBackend/GroceryScanner.Business/obj/Debug/net8.0/GroceryScanner.Business.csproj.FileListAbsolute.txt
/GroceryBackend/GroceryScanner.Business/obj/Debug/net8.0/GroceryScanner.Business.dll
/GroceryBackend/GroceryScanner.Business/obj/Debug/net8.0/GroceryScanner.Business.GeneratedMSBuildEditorConfig.editorconfig
/GroceryBackend/GroceryScanner.Business/obj/Debug/net8.0/GroceryScanner.Business.pdb
/GroceryBackend/GroceryScanner.Business/obj/Debug/net8.0/GroceryScanner.Business.sourcelink.json
/GroceryBackend/GroceryScanner.Business/obj/Debug/net8.0/refint/GroceryScanner.Business.dll
/GroceryBackend/GroceryScanner.Business/obj/project.nuget.cache
/GroceryBackend/GroceryScanner.Domain/obj/Debug/net8.0/ref/GroceryScanner.Domain.dll
/GroceryBackend/GroceryScanner/bin/Debug/net8.0/Confluent.Kafka.dll
/GroceryBackend/GroceryScanner/bin/Debug/net8.0/GroceryScanner.Business.dll
/GroceryBackend/GroceryScanner/bin/Debug/net8.0/GroceryScanner.Business.pdb
/GroceryBackend/GroceryScanner/bin/Debug/net8.0/GroceryScanner.deps.json
/GroceryBackend/GroceryScanner/bin/Debug/net8.0/GroceryScanner.dll
/GroceryBackend/GroceryScanner/bin/Debug/net8.0/GroceryScanner.Domain.dll
/GroceryBackend/GroceryScanner/bin/Debug/net8.0/GroceryScanner.Domain.pdb
/GroceryBackend/GroceryScanner/bin/Debug/net8.0/GroceryScanner.exe
/GroceryBackend/GroceryScanner/bin/Debug/net8.0/GroceryScanner.pdb
*.config
*.props
/GroceryBackend/GroceryScanner/obj/GroceryScanner.csproj.nuget.dgspec.json
*.targets
/GroceryBackend/GroceryScanner/obj/project.assets.json
*.cache
/GroceryScanner.Business/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/GroceryScanner.Business/obj/Debug/net8.0/GroceryScanner.Business.AssemblyInfo.cs
/GroceryScanner.Business/obj/Debug/net8.0/GroceryScanner.Business.csproj.BuildWithSkipAnalyzers
/GroceryScanner.Business/obj/Debug/net8.0/GroceryScanner.Business.csproj.FileListAbsolute.txt
/GroceryScanner.Business/obj/Debug/net8.0/GroceryScanner.Business.GeneratedMSBuildEditorConfig.editorconfig
/GroceryScanner.Business/obj/Debug/net8.0/GroceryScanner.Business.GlobalUsings.g.cs
/GroceryScanner.Business/obj/GroceryScanner.Business.csproj.nuget.dgspec.json
/GroceryScanner.Business/obj/project.assets.json
/GroceryScanner/obj/Debug/net8.0/GroceryScanner.assets.cache
/GroceryScanner/obj/Debug/net8.0/GroceryScanner.csproj.FileListAbsolute.txt
