################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GroceryBackend/.vs/Grocery/FileContentIndex
/GroceryBackend/.vs/Grocery/DesignTimeBuild/.dtbcache.v2
